<div class="container">
  <h2>Update a flat</h2>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.submit "Update Flat" , class: "btn btn-primary mt-2"%>
  <% end %>
</div>
